[submodule "backend"]
	path = backend
	url = https://github.com/channingLuocl/hm-dianping-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/channingLuocl/hm-dianping-frontend.git
